<h1>Create a new article</h1>

<% if @article.errors.any? %>
  <h2>Unable to create the article because of the following errors:</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, data: { turbo: false }, url: articles_path, local: true do |form| %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
  <%= link_to 'Return to article listing', articles_path %>
</p>
